<div style="text-align: center;">

<h1>Game Level : <%= session['level'] %></h1>

<h1>Guess The Lucky Number</h1>

<% if session['guessed_number'] != nil || session['guessed_number'] == ' ' %>
  <% if session['guessed_number'].to_i > session['secret_number'] %>
    <p>Guess Number Too Big</p>
    <h1>Keep Trying</h1>
  <% elsif session['guessed_number'].to_i < session['secret_number'] %>
    <p>Guess Number Too Low</p>
    <h1>Try Again</h1>
  <% end %>
<% end %>



<p>Good Luck</p>
<%= session['secret_number'] %>

<form action="/game" method="post">
  <input type="number" name="guessed_number" placeholder="Key In Your Lucky Number">
  <input type="submit" value="Guess">
</form>
</div>
