<div style="text-align: center;">

<h1>Lucky Number Game</h1>

<h2>Player Name</h2>
<form>
  Name:<br>
  <input type="text" name="firstname"><br>
  Age:<br>
  <input type="name">
</form>



<a href="level">Start Game</a>
</div>
