<div style="text-align: center;">

<h1 style="background-color:slateblue;">Lucky Number Game</h1>

<h2 style="background-color:purple;">Player Name</h2>

<form>
  Name:<br>
  <input type="text" name="name"><br>
  Age:<br>
  <input type="name" name="text"><br>
</form>



<a href="level">Start Game</a>
</div>
