<div class="header" style="text-align: center">

  <h1 style="background-color:slateblue; color:pink;">Lucky Number Game</h1>

  <h2 style="color:tomato;font-size: 40px">Player Name</h2>

  <form action="/index" method="post">
    <p style="color:purple; font-size: 30px; margin-bottom: 0">Name</p>
    <input type="text" name="name">
    <p style="color:purple; font-size: 30px; margin-bottom: 0">Age</p>
    <input type="text" name="age">
    <br>
    <input type="submit" value="GAME START">
  </form>

  <!-- <a href="level">Start Game</a> -->
</div>
