<p>Please Choose Your Level</p>
<form action="/level" method="post">
  <select name="game_level" id="">
   <option value="easy">Easy</option>
   <option value="medium">medium</option>
   <option value="hard">hard</option>
  </select>
  <input type="submit" value="select">
</form>
