

<div style="text-align: center;">

<h1 style=color:slateblue;">Thats Your Lucky Number</h1>
<h2 style=color:purple;">CONGRATULATIONS</h2>
<h3 style=color:red;">PLAYER RECORD</h3>

<table style="width:100%">
  <tr>
    <th name={name}</th>
    <th age={text}</th>
  </tr>
  <tr>
    <td>Guess Player</td>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Guess Player</td>
    <td>0</td>
    <td>0</td>
  </tr>
</table>

</div>
