

<div style="text-align: center;">

<h1 style=color:purple;">CONGRATULATIONS</h1>
<h3 style=color:red;">PLAYER RECORD</h3>


<table style="width:100%">
  <tr>
    <th><%= session['name'] %></th>
    <th><%= session['age'] %></th>
  </tr>
</table>

<a href="level">PLAY AGAIN</a>
</div>
